{% include 'components/header.html' %}

<div class="container mt-4">
    <div class="book-card">
        <div class="card">
            <img src="{{ book.image.url }}" class="card-img-top" alt="Книга">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.description }}</p>
                <p><strong>Цена:</strong> {{ book.price }}</p>
                <p><strong>Дата выхода:</strong> {{ book.created_at }}</p>
                <p><strong>Жанр:</strong> {{ book.genre }}</p>
                <p><strong>Почта:</strong> {{ book.email }}</p>
                <p><strong>Автор:</strong> {{ book.director }}</p>
                <audio controls>
                    <source src="{{ book.music.url }}" type="audio/mpeg">
                </audio>
                <iframe width="100%" height="315" src="{{ book.audio }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- Блок комментариев -->
    <h5>Комментарии:</h5>
    <div id="comments-list">
        {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.created_at }}: {{ comment.text_review }} <strong>Оценка:</strong> {{ comment.stars }}</p>
            </div>
        {% empty %}
            <p>Комментариев пока нет.</p>
        {% endfor %}
    </div>

    <!-- Форма для комментариев -->
    <h5>Оставить комментарий:</h5>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
</div>

{% include 'components/footer.html' %}
