<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список заказов</title>
</head>
<body>

<h1>Заказы</h1>
<ul>
    {% for i in order_lst %}
    <li>
        <p>{{ i.task }}</p>
        <p>{{ i.choice_book }}</p>
        <p>{{ i.choice_status }}</p>
        <p>{{ i.created_at }}</p>
        <button><a href="/order_list/{{ i.id }}/delete/">удалить</a></button>
        <button><a href="/order_list/{{ i.id }}/update/">Редактировать</a></button>
    </li>
    {% endfor %}
</ul>

</body>
</html>